:root {
  --primary-color: rgba(13, 110, 139, 0.64);
  /* --primary-color-iz: #b6e3bc; */
  --primary-color-iz: rgba(182, 227, 188, 0.60);
  --primary-color-iz-bold: rgba(182, 227, 188, 1.00);
  --secondary-color: rgba(229, 148, 0, 0.9);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --overlay-color-iz: rgba(144, 157, 146, 0.80);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Playfair Display', sans-serif;
  line-height: 1.85;
  font-weight: 400;
  font: 14px;
}

#showcase {
  padding: 1rem;
  position: relative;
}

#showcase:before {
  content: '';
  background: url('/img/izone_heart_iz_violeta_bts_all_3.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

#showcase .showcase-container {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

/* h1 */
  /* z-index: 1; */
  /* width: 70%; */
  /* color: #fff; */
  /* font-size: 5rem; */
  /* margin-top: 8.4rem; */
  /* text-align: center; */
  /* background: var(--primary-color-iz-bold); */


/* p */
  /* margin-top: 40rem; */
  /* font-size: 1.4rem; */
  /* z-index: 1; */


#showcase .showcase-container .showcase-content .showcase-container h1 {
  z-index: 1;
  background: var(--primary-color-iz-bold);
  width: 50%;
  font-size: 4rem;
  color: #fff;
  text-align: center;
  margin-top: 24.4rem;
}

#showcase .showcase-container .showcase-content .showcase-container p {
  z-index: 1;
  font-size: 1.7rem;
  margin-top: 4rem;
  margin-left: 40rem;
  /* color: var(--primary-color-iz-bold); */
  color: #555;
  text-align: center;
}